#section_MainColumn{
    background-color: lightblue;
}

#section_DarkBlue{
    background-color: rgb(110, 131, 150);
}

.section_ListItems{
    border-radius: 10px;
    border: red solid 2px;
    margin: 10px;
}

#section_SideColumn{
    background-color: lightblue;
    border: lightblue solid 5px;;
}

.section_SideBoxes{
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    border: red dotted 1px;
}