html, body{
    height: 100%;
}

header{
    color: white;
    font-weight: bold;
    height: 30%;
    background-color: brown;
}

#section_Nav{
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    height: 50%;
}

.section_NavLinks{
    background-color: beige;
    padding: 5px;
    border-radius: 5px;
}

#main_Content{
    display: flex;
    flex-direction: column;
    height: 70%;
    border: red solid 2px;
    border-radius: 25px;
}

footer{
    height: 30%;
    background-color: brown;
    color: white;
}