body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* -------  header footer main ---- */
* {box-sizing: border-box;
padding: 0; margin: 0;}
html, body , div#root, .App{height:100%; width:100%;}

header, footer {
  background-color: brown;
  font-size:1.3em;
  padding: 1em;
  text-align: start;
  color:white;
  height:15%;
  display: flex;
  justify-content: space-between;
  }
  footer{justify-content: center;}
  #main-content
  {
    display: flex;
    border:2px solid red;
    border-radius:1em;
    justify-content:space-evenly;
    height: 70%;
    margin: 5px;
    padding: 0.2em;;
  }
  #main-column, #side-column {
    display: flex;
    flex-direction:column ;
    width:30%;
    background-color: rgb(208, 230, 169);
    border-radius: 3px;
    padding: 1em;
  }
  #main-column { width: 70%; 
    background-color: rgb(207, 240, 229);}
/*------  navigaation main menu--------------*/
nav.main-menu  {
  width:60%; 
  justify-self: flex-end;
}
nav.main-menu ul {
  background-color: darkgray;
  border:2px solid darkgray;
  border-radius: 5px;
  padding: 0.8em;
  display: flex;
  justify-self: end;
  list-style-type: none;
  justify-content: flex-end;
}
nav.main-menu li  { margin: 0 3px;;}
nav.main-menu li a {
  text-decoration: none;
  background-color: beige;
  border-radius: 5px;
  padding: 0.3em;
  margin: 0.2em;
  color: maroon;
}
nav.main-menu li a:hover{
  background-color:maroon;
  color:  beige;
}
/*-0---=--  Items CSS*/
 /*----------  Items */
 section#list-items
 {
   padding: 1em;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   background: rgb(159, 202, 202);
 }
 section.list-single-item {
   border:2px solid red ;
   border-radius: 3px;
   padding: 5px;
   background-color: rgb(210, 216, 154);
   display: flex;
   flex-direction: column;
   margin: 5px;
 }
 section.list-single-item:hover {
   border:2px dotted darkgray ;
   background-color: rgb(244, 252, 135);
 }

 section.list-single-item section.row-item{
   border:1px dotted red;
   padding:5px;
   display: flex;
justify-content: space-between;
 }
 section.list-single-item section.row-item label 
 {border:1px dotted red;
   padding:5px;}
 section.list-single-item section.row-item input {border:1px dotted red;
   padding:5px;} 
 /*--------- stats*/

 button{
   padding: 5px;
   background-color: maroon;
   color: white;
   font-weight: 700;
   border-radius: 5px;
 }
 button:hover{
   background-color: darkgray;
 }


